<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="details" href="#">Details <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="salary" href="#">Salary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="todo" href="#">ToDo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rxjs" href="#">Rxjs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rxjs1" href="#">Rxjs1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tdf" href="#">Tdf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mdf" href="#">Mdf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="material" href="#">Materials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="anim" href="#">Animations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lifecycle" href="#">Lifecycle</a>
      </li>
    </ul>
  </div>
</nav>



<!-- <h1>Hello , done {{ title }} from {{ name }}</h1>

<p>{{ 5 + 5 }}</p>

<p>{{ greet() }}</p>
<img src="{{ tvimage }}" alt="" width="150px" />

<p>Largest : {{ max(100, 120) }}</p>

<p>array of {{ numArray }}</p>

<p>{{ person.name }}</p>

<p>{{ getDate() }}</p>

<input type="text" [id]="myId" name="name" (change)="printname()" />
<input [disabled]="isDisabled" type="text" id="{{ myId }}" name="name" />

<button (click)="printname()">Print name</button>

<p><button (click)="changeImage()">Change image</button></p>

<h2 class="text-success">Expertz Lab</h2>
<h2 [class.text-danger]="hasError">Expertz Lab</h2>
<h2 [ngClass]="messageClass">Expertz Lab</h2>
<h1 [ngStyle]="titleStyles">Style Binding</h1>

<p [style.color]="highlightColor" [style.fontWeight]="isBold?'bold':'normal'">Expertz Lab</p>
  -->
  <router-outlet />
